.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
  background-color: #2a2145;
  color: rgb(247, 235, 235);
  position: sticky;
  top: 0;
  z-index: 98;
  .lg-links {
    display: none;
    font-size: 1.2rem;
    @media screen and (min-width: $laptop) {
      display: flex;
    }
    a {
      margin-left: 20px;
    }
  }
  .sm-active {
    display: flex;
    @media screen and (min-width: $laptop) {
      display: none;
    }
  }
  .sm-links {
    color: rgb(25, 17, 17);
    flex-direction: column;
    position: fixed;
    background-color: rgb(234, 223, 223);
    top: 0;
    right: 0;
    height: 100vh;
    border-left: solid 1px black;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 200px;
    padding: 20px 10px 0;
    z-index: 99;
    a {
      margin: 3px 0;
      font-size: 1.1rem;
    }
  }
  a:hover {
    color: rgb(191, 16, 174);
    text-decoration: underline;
  }
  button:hover {
    background-color: rgba(98, 73, 154, 0.836);
    color: #dbcfcf;
  }
}